:root {
  --rosa-claro: #fadadd;
  --rosa-blush: #f5b6c4;
  --rosa-antigo: #d46a92;
  --branco: #fffff6;
  --bg: #141414;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "lexend deca", sans-serif;
}
body {
  background-color: var(--branco);
  font-family: "Poppins", sans-serif;
  padding-top: 120px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--branco);            
  z-index: 999;
  padding: 10px 40px;
}
.logo{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-left: 20px;
  color: var(--bg);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

nav {
  display: flex;
  gap: 40px;
}
.nav_bar a {
  color: var(--bg);
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  background: transparent;
}
.nav_bar a:hover {
 font-size: 1.25rem;
  color: var(--rosa-antigo);
  border-bottom: 2px solid var(--rosa-antigo);
}
.icons{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.icons .search:hover {
transform: scale(1.1);
}

.icons .cart:hover {
transform: scale(1.1);
}

#slogan {
  margin: 0 0;
  font-size: 32px;
  color: var(--bg);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.banner {
  margin-top: 100px;
}

.slider{
width: 100%;
position: relative;
overflow: hidden;  
}

.slides{
display: none;
position: relative;
}
.slides.active{
display: block;
}

.slides img{
height: 700px;
width: 100%;
object-fit: cover;
}

.next, .prev {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0,0,0,0.4);
color: white;
}
.prev{
  left: 10px;
}

.next{
  right: 10px;
}

.dots{
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot{
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active{
  background: white;
  transform: scale(1.2);
}
.title_products {
  text-align: left;
  margin-left: 20px;
  font-size: 36px;
  color: var(--bg);
  margin-bottom: 40px;
  padding-top: 1rem;
}

.products {
  background-color: var(--rosa-claro);
  margin-top: 120px;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
}

.product_price{
  color: var(--bg);
  font-weight: bold;
  margin: 10px 0;
}

.card_product button{
  background: var(--rosa-antigo);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card_product button:hover {
  background: var(--rosa-blush);
}

.card_product img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card_product{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 375px;
  transition: 0.3s;
}

.card_product:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}